[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "crctStepdown"]
	path = crctStepdown
	url = https://github.com/cran/crctStepdown
	shallow = true
	registered = true
[submodule "rts2"]
	path = rts2
	url = https://github.com/cran/rts2
	shallow = true
	registered = true
