[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "crctStepdown"]
	path = crctStepdown
	url = https://github.com/cran/crctStepdown
[submodule "rts2"]
	path = rts2
	url = https://github.com/cran/rts2
